.container-form{
    display: block;
}

.form-header{
    color: white;
    background-color: rgb(34, 34, 34);
    padding: 16px;
}

.form-body{
    background-color: lightgoldenrodyellow;
}

.container-label{
    background-color: lightcoral;
    padding: 8px 16px;
    font-weight: 700;
    height: fit-content;
}

.container-colorA{
    background-color: lightblue;
    padding: 16px 8px;
}

.container-colorB{
    background-color: lightgreen;
    display: block;
    align-items: center;
    padding: 16px 8px;
    
}

.submit{
    display: flex;
    justify-content: center;
    padding-bottom: 24px;
}

.error-message{
    color: brown;
    font-size: smaller;
    font-weight: 500;
}

.error-input{
    border: 2px solid brown;
}

.notes{
    color:chocolate;
    text-align: end;
    margin-right: 24px;
    font-weight: 500;
}

.row{
    display: flex;
    justify-content: space-between;
}

.float{
    position: relative;
    bottom: 16px;
    left: -16px;
}

.input-style{
    border: 1px solid rgb(34, 34, 34);
    border-radius: 2px;
    padding: 8px 16px;
}

.container-input{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.label-style{
    margin-left: 36px;
}

.label-cep{
    margin-left: 16px;
}

.finish{
    background-color: lightcoral;
    padding: 24px;
    text-align: center;
    height: 100%;
    padding-bottom: 500px;
}

@media screen and (min-width: 830px) {
    .container-form{
        display: flex;
        justify-content: initial;
    }
    .container-colorA{
        width: 100%;
    }
    .container-input{
        align-items: baseline;
    }
    .row{
        justify-content:initial;
    }
    .row label{
        margin-right: 120px;
    }
}